.icar-blue {
    color:#fff !important;
    background-color:#0076ff !important
}
.icar-light-blue {
    color:#000 !important;
    background-color:#00c9ff !important
}

.icar-dark-blue {
    color:#fff !important;
    background-color:#0a3c75 !important
}

.icar-orange {
    color:#fff !important;
    background-color: #FC4947 !important  
}

.icar-gray {
    color:#fff !important;
    background-color: #2c3e55 !important  
}

.icar-yellow {
    color: #000 !important;
    background-color: #ffe23c !important  
}